.note-container {
    background: floralwhite;
    height: 80vh;
    & .new-note-button-modal {

        height: 100px;
        & button {
            // position: relative;
            height: 100px;
            width: 300px;
            // color: white;
             background-color: black;
             border-radius: 20px;
             border: solid 8px gray;
             outline-style: none;
            font-size: 20px;
            background: #3498db;
            color: white;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }
    }
    
}